<div class="directive">
  <h1>ngFor</h1>
  <div>
    <span
      *ngFor="
        let color of colors;
        let i = index;
        let first = first;
        let last = last
      "
      >{{ i }}. {{ first ? "I`m first" : "" }} {{ last ? "I`m last" : "" }}
      {{ color }}</span
    >
  </div>

  <h1>&#64;for</h1>
  @for (color of colors; track color; let i = $index; let first = $first; let
  last = $last) {
  <div>
    <span
      >{{ i }}. {{ first ? "I`m first" : "" }} {{ last ? "I`m last" : "" }}
      {{ color }}</span
    >
  </div>
  } @empty {
  <span> Empty array </span>
  }

  <h1>ngIf</h1>
  <div *ngIf="isShow">
    <span>{{ isShow }} => so, im printed</span>
  </div>
  <button (click)="isShow = !isShow">{{ isShow ? "hide" : "show" }}</button>
  <h1>&#64;if</h1>
  @if (isShow) {
  <div>
    <span>{{ isShow }} => so, im printed</span>
  </div>
  }
</div>
