<body>
  <div class="calculator">
    <div class="calculator_result">Result</div>
    <div class="calculator_body">
      <button class="calculator_grey_button">AC</button>
      <button class="calculator_grey_button">+/-</button>
      <button class="calculator_grey_button">%</button>
      <button class="calculator_orange_button">÷</button>
      <button class="calculator_num_button">7</button>
      <button class="calculator_num_button">8</button>
      <button class="calculator_num_button">9</button>
      <button class="calculator_orange_button">x</button>
      <button class="calculator_num_button">4</button>
      <button class="calculator_num_button">5</button>
      <button class="calculator_num_button">6</button>
      <button class="calculator_orange_button">-</button>
      <button class="calculator_num_button">1</button>
      <button class="calculator_num_button">2</button>
      <button class="calculator_num_button">3</button>
      <button class="calculator_orange_button">+</button>
      <button class="calculator_num_button" id="btn_zero">0</button>
      <button class="calculator_num_button">,</button>
      <button class="calculator_orange_button">=</button>
    </div>
  </div>
</body>
