<div class="form" [formGroup]="myForm">
  <h2>Form</h2>
  <label for="login">Login</label>
  <input type="text" id="login" formControlName="login">
  @if (myForm.controls.login.invalid && myForm.controls.login.touched) {
    <small style="color: red">This field is required</small>
  }
  <label for="email">Email</label>
  <input type="text" id="email" formControlName="email">
  @if (myForm.controls.email.invalid && myForm.controls.email.touched) {
    <small style="color: red">This field is required</small>
  }
  <label for="password">Password</label>
  <input type="text" id="password" formControlName="password">
  @if (myForm.controls.password.invalid && myForm.controls.password.touched) {
    <small style="color: red">This field is required</small>
  }
  <button (click)="handleValue()" [disabled]="myForm.invalid">Send data</button>
</div>

<div class="form" [formGroup]="validatorsForm">
  <h2>Custom validators</h2>
  <label for="mail">Login</label>
  <input type="text" id="mail" formControlName="mail">
  @if (validatorsForm.controls.mail.invalid && validatorsForm.controls.mail.touched) {
    <small style="color: red">Wrong written data</small>
  }
  <label for="password_one">Password</label>
  <input type="text" id="password_one" formControlName="password_one">
  <label for="password_two">Repeat password</label>
  <input type="text" id="password_two" formControlName="password_two">
  @if (validatorsForm.errors?.['PasswordDoNotMatch'] && validatorsForm.controls.password_two.touched) {
    <small style="color: red">Passwords do not match!</small>
  }
</div>

<form class="form" [formGroup]="fbForm" (ngSubmit)="onSubmit()">
  <h2>Dynamic form</h2>
  <label for="name">Name</label>
  <input type="text" id="name" formControlName="name">

  <div formArrayName="skills">
    @for (skill of skills.controls; track skill; let i = $index) {

      <div [formGroupName]="i">
        <label [for]="i + 'skill'">{{ i + 1}} | Skill</label>
        <input [id]="i + 'skill'" type="text" formControlName="skill">
        <label [for]="i + 'experience'">Experience</label>
        <input [id]="i + 'experience'" type="text" formControlName="experience">
        <button (click)="removeSkill(i)">Delete</button>
      </div>

    }
  </div>

  <button (click)="addSkill()" type="button">Add skill</button>
  <button type="submit">Submit</button>
</form>

<div class="form">
  <h2>Template-Driven forms</h2>

  <label for="templateLogin">Login</label>
  <input type="text" id="templateLogin" [(ngModel)]="templateForm.login">

  <label for="templateEmail">Email</label>
  <input type="text" id="templateEmail" [(ngModel)]="templateForm.email">

  <label for="templatePassword">Password</label>
  <input type="password" id="templatePassword" [(ngModel)]="templateForm.password">
</div>

<div class="form" [formGroup]="customForm">
  <h2>Custom control</h2>

  <pre>{{ customForm.value | json }}</pre>

  <app-rate formControlName="rate" [options]="rateOptions"></app-rate>
</div>
