.object {
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin: 0 auto;
    width: 90%;

    h3 {
        font-size: 50px;
    }

    span {
        font-size: 20px;
    }
}