<div class="heading">
  <button
    [routerLink]="['/calculator']"
    routerLinkActive="active"
    class="heading_btn"
  >
    Calculator
  </button>
  <button
    [routerLink]="['/ios-calculator']"
    routerLinkActive="active"
    class="heading_btn"
  >
    IOS calculator
  </button>
  <button
    [routerLink]="['/object-list']"
    routerLinkActive="active"
    class="heading_btn"
  >
    Object list
  </button>
  <button
    [routerLink]="['/directives']"
    routerLinkActive="active"
    class="heading_btn"
  >
    Directives
  </button>
  <button
    [routerLink]="['/life-cycle']"
    routerLinkActive="active"
    class="heading_btn"
  >
    Life cycle
  </button>
  <button
    [routerLink]="['/requests']"
    routerLinkActive="active"
    class="heading_btn"
  >
    Request & Services
  </button>
  <button
    [routerLink]="['/pipes']"
    routerLinkActive="active"
    class="heading_btn"
  >
    Pipes
  </button>
  <button
    [routerLink]="['/forms']"
    routerLinkActive="active"
    class="heading_btn"
  >
    Forms
  </button>
  <button
    [routerLink]="['/decorators']"
    routerLinkActive="active"
    class="heading_btn"
  >
    Decorators
  </button>
  <button
    [routerLink]="['/1']"
    routerLinkActive="active"
    class="heading_btn"
  ></button>
</div>
